
<div class="footer-space"></div>
<!-- footer -->

<footer class="dark-bg-color light-color footer-font">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <i class="fa fa-map-marker fa-2x"></i>
                <br><br>
                <p>Academic Block XYZ, IIT Gandhinagar, Palaj</p>
                <p>Gandhinagar - 382355, Gujarat</p>
                <br>
            </div>

            <div class="col-sm-4">
                <br>
                <div class="footer-text size">Follow us on</div>
                <br>
                <!-- Section: Social media -->
                <section class="mb-4 space_footer">

                    <!-- Instagram -->
                    <a class="btn icon btn-floating m-1" href="link" target="_blank" aria-label="Instagram" role="button"><i
                            class="fa fa-instagram icon-size"></i></a>

                    <!-- Facebook -->
                    <a class="btn icon btn-floating m-1" href="link" target="_blank" aria-label="Facebook" role="button"><i
                            class="fa fa-facebook-f icon-size"></i></a>

                    <!-- Twitter -->
                    <a class="btn icon btn-floating m-1" href="link" target="_blank" aria-label="Twitter" role="button"><i
                            class="fa fa-twitter icon-size"></i></a>

                    <!-- youtube -->
                    <a class="btn icon btn-floating m-1" href="link" target="_blank" aria-label="youtube" role="button"><i
                            class="fa fa-youtube-play icon-size"></i></a>

                    <!-- Linkedin -->
                    <a class="btn icon btn-floating m-1" href="link" target="_blank" aria-label="Linkedin" role="button"><i
                            class="fa fa-linkedin icon-size"></i></a>

                </section>
                <!-- Section: Social media -->
            </div>

            <div class="col-sm-4"><br>
                <a class="btn icon btn-floating m-1" href="mailto:coding@iitgn.ac.in" role="button" aria-label="mail"><i
                        class="fa fa-envelope icon-size"></i></a>
                <br><br>
                <div class="footer-text font_style text-white">coding@iitgn.ac.in<br>
                </div>
            </div>

            <div class="copyright">
                <p class="text-center">Copyright ©2021 All rights reserved | Metis | IIT
                    Gandhinagar
                </p>
            </div>
        </div>
    </div>
</footer>



