<header>
    <!-- Navbar -->
 
    <nav class="fixed-top nav-0">
        <div class="navbar-title"><a id="title-metis" href="/admin-panel"
                target="blank">METIS</a></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <div class="navbar-links">
            <ul id="hide-navlinks">
                <li><a class="animation-reverse nav-links" href="/">Home</a></li>
                <li><a class="animation-reverse nav-links" href="/metis/about">About Us</a></li>
                <li><a class="animation-reverse nav-links" href="/metis/resources">Resources</a></li>
                <li><a class="animation-reverse nav-links" href="/metis/events_workshops">Events/Workshops</a></li>
                <li><a class="animation-reverse nav-links" href="/metis/projects">Projects</a></li>
                <li><a class="animation-reverse nav-links" href="/metis/active_members">Active Members</a></li>
            </ul>
        </div>
    </nav>

</header>

<button onclick="topFunction()" id="button" title="Go to top" class="light-bg-color dark-color"><i
        class="fa fa-angle-up arrow2"></i></button>

