<div class="back">
    <div class="bg-image">
        <img src="\images\about.jpg" alt="about-page-image" class="top-image1">
        <div class="all-text">
            <h1 class="all-title">About Us</h1>
            <a href="#about" aria-label="about us"><i class="fa fa-angle-double-down arrow light-color"></i></a>
        </div>
    </div>
</div>
<div class="m-bottom" id="about"></div>
<div class="container text-center">

    <div class="row gsap-up">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, quo id omnis quia enim, explicabo
            rerum perferendis atque deserunt ut veritatis eius sint molestiae dicta pariatur corrupti sit! Autem
            sed
            sit iure. Velit aliquid blanditiis ab repellat rem reiciendis veritatis corporis dolor assumenda
            dolores, atque illum laborum suscipit soluta illo rerum expedita perspiciatis explicabo! Dicta modi
            libero veniam laudantium odit eum saepe incidunt non maxime ab ipsa, laboriosam totam deserunt
            quisquam
            quo repellendus accusamus vel eos. Voluptas quaerat, reprehenderit molestiae officiis qui nulla
            impedit
            at debitis quam voluptatum sit in odio, inventore amet minus asperiores similique earum culpa
            assumenda!
            Porro.
        </p>
    </div>

    <h1 class="heading gsap-headings"><u>Our Team</u></h1>

    <div class="row justify-content-evenly">
        <h2>Secretaries</h2>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="secretary">
            <h4>Hitarth Gandhi</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="secretary">
            <h4>Reuben Devanesan</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-evenly">
        <div class="col-sm-4" data-aos="fade-up">
            <h2>Project Coordinator</h2>
            <img src="\images\metis.jpg" class="rounded-img" alt="Project Coordinator">
            <h4>Tejendra Patel</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
        <div class="col-sm-4" data-aos="fade-up">
            <h2>Workshop Coordinator</h2>
            <img src="\images\metis.jpg" class="rounded-img" alt="Workshop Coordinator">
            <h4>Xhitij Choudhary</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-evenly">
        <h2>Interest Circle Coordinators</h2>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="Interest Circle Coordinator">
            <h4>Paarth Madan</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="Interest Circle Coordinator">
            <h4>Tarun Sharma</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-evenly">
        <h2>CP Coordinators</h2>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="CP Coordinator">
            <h4>Shubh Lavti</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
        <div class="col-sm-4" data-aos="fade-up">
            <img src="\images\metis.jpg" class="rounded-img" alt="CP Coordinator">
            <h4>Rishabh Gupta</h4>
            <span>
                <a class="icon-link" href="mailto:coding@iitgn.ac.in"><i
                        class="fa fa-envelope inline icon-size"></i></a>
                <i class="fa fa-github icon-size"></i>
            </span>
            <hr>
        </div>
    </div>
    <br>
    <div class="gsap-up"></div>
    <div class="gsap-up"></div>
    <div class="gsap-up"></div>
</div>