<div class="back">
    <div class="bg-image">
        <!-- <img src="\images\active_members.jpg" alt="active_members-page-image" class="all-image"> -->
        <img src="\images\active_members.jpg" alt="active_members-page-image" class="top-image1">
        <div class="all-text">
            <h1 class="active-title">Active Members</h1>
            <a href="#active_members" aria-label="active_members"><i class="fa fa-angle-double-down arrow light-color"></i></a>
        </div>
    </div>
</div>
<div id="active_members" class="m-bottom"></div>
<div class="container text-center">
    <h3 class="home-headings gsap-up"> Names & Points</h3>
    <div class="col-sm-8 center-of-box">
        <table class="table text-center gsap-up">

            <% dataList.forEach(function(data){ %>

                <tr class="dark-color tr">
                    <td class="td ">
                        <% if (data[1].length> 1){ %>
                            <table>
                                <% data[1].forEach(function(name){ %>
                                    <tr>
                                        <td>
                                            <%= name %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                            <% } else{ %>
                                <%= data[1] %>
                                    <% } %>
                    </td>
                    <td class="td">
                        <% if (data[1].length> 1){ %>
                            <table>
                                <% data[1].forEach(function(name){ %>
                                    <tr>
                                        <td>
                                            <%= data[0] %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                            <% } else { %>
                                <%= data[0] %>
                                    <% } %>
                    </td>
                </tr>
                <% }) %>
        </table>
    
    </div>
    <div class="gsap-up"></div>
    <div class="gsap-up"></div>
</div>